.venv/
build/
/run_cmd.spec
/bin.7z
/bin1.7z
/AllToolBox-src.zip
/whoyou.txt
.vscode/
/Cargo.lock
target/
*.log
*.tmp
*.bak
*.pyc
*.spec
__pycache__/
/start.spec
/run_cmd.spec
/main.spec
/nuitka-crash-report.xml
source/
/gpp_err.txt
/gpp_err2.txt
/gpp_log.txt
/gpp_out.txt
/a.out
/as_err.txt
/as_out.txt
.venv312/
/launch.obj
/双击运行.obj
/build.obj
*.obj
*.o
/FileDialog/obj
node_modules/
docs/.vitepress/cache
/flutter