.venv/
build/
/run_cmd.spec
/bin.7z
/bin1.7z
/AllToolBox-src.zip
/whoyou.txt
.vscode/
/Cargo.lock
target/
*.log
*.tmp
*.bak
*.pyc
*.lock
*.spec
__pycache__/
/start.spec
/run_cmd.spec
/main.spec
/nuitka-crash-report.xml
source/
